header.banner {
  @extend .ease-effect;

  padding: 0;
  z-index: 5000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: {
    color: transparentize($white, 0.5);
  }

  .nav {
    .menu-item {
      @extend .nav-item;

      .sub-menu {
        @extend .ease-effect;

        z-index: 999;
        display: none;
        position: absolute;
        top: 55px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background: {
          color: $brand-primary;
        }
        text: {
          align: left;
        }

        li {
          display: inline-block;
          text: {
            align: left;
          }

          a {
            color: $white;
          }
        }
      }

      a {
        @extend .nav-link, .ease-effect;

        letter-spacing: 0;
        padding: 1.4rem;
        font: {
          weight: normal;
        }
      }

      &:hover {
        .sub-menu {
          @extend .list-unstyled;

          display: block;
        }

        a {
          color: transparentize($brand-primary, 0.6);
        }
      }

      &.current-menu-item {
        a {
          font: {
            weight: bold;
          }
        }
      }
    }
  }

  .brand {
    .site-logo {
      @extend .ease-effect;

      width: 100%;
      max-width: 3.5rem;
      margin: {
        top: 0.35rem;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &.on {
    background: {
      color: $white;
    }
  }

  &.float {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;

    a.brand {
      display: inline-block;
      float: left;
    }

    nav.nav-primary {
      display: inline-block;

      .nav {
        width: 30%;

        li {
          @extend .d-block;
        }

        a {
          @extend .nav-link;

          color: $black;
        }
      }
    }

    &.on {
      padding: 1rem 2rem;
      width: 100%;
      background: {
        color: $white;
      }

      a.brand {
        float: none;

        .site-logo {
          @extend .ease-effect;

          max-width: 5rem;
        }
      }

      nav.nav-primary {
        .nav {
          width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  header.banner {
    .brand {
      .site-logo {
        max-width: 3.5rem;
      }
    }

    .social-icons,
    .nav {
      display: none;
    }
  }
}

body.admin-bar {
  header.banner {
    margin-top: 32px;
  }
}
