header.banner {
  padding: 1rem 0;

  .brand {
    .site-logo {
      @extend .ease-effect;

      width: 100%;
      max-width: 5rem;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .nav {
    li {
      @extend .nav-item;
    }

    a {
      @extend .nav-link;

      padding: 1.3rem;
      font: {
        weight: bold;
      }

      &:hover {
        color: $white;
        background: {
          color: $brand-primary;
        }
      }
    }
  }

  &.float {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;

    a.brand {
      display: inline-block;
      float: left;
    }

    nav.nav-primary {
      display: inline-block;

      .nav {
        width: 30%;

        li {
          @extend .d-block;
        }

        a {
          @extend .nav-link;

          color: $black;
        }
      }
    }

    &.on {
      padding: 1rem 2rem;
      width: 100%;
      background: {
        color: $white;
      }

      a.brand {
        float: none;

        .site-logo {
          @extend .ease-effect;

          max-width: 5rem;
        }
      }

      nav.nav-primary {
        .nav {
          width: 100%;
        }
      }
    }
  }
}
