header.banner {
  padding: 0.25rem 0;
  position: relative;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  background: {
    color: $white;
  }

  &.on {
    position: fixed;

    .brand {
      .site-logo {
        max-width: 3.5rem;
      }
    }
  }

  .brand {
    .site-logo {
      @extend .ease-effect;

      width: 100%;
      max-width: 5rem;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .nav {
    .menu-item {
      @extend .nav-item;

      .sub-menu {
        @extend .ease-effect;

        z-index: 999;
        display: none;
        position: absolute;
        top: 55px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background: {
          color: $brand-primary;
        }
        text: {
          align: left;
        }

        li {
          display: inline-block;
          text: {
            align: left;
          }

          a {
            color: $white;
          }
        }
      }

      a {
        @extend .nav-link, .ease-effect;

        letter-spacing: 0;
        padding: 1.4rem;
        font: {
          weight: bold;
        }
      }

      &:hover {
        > a {
          transform: translateY(-5px);
        }
      }

      &.current-menu-item {
        border: {
          bottom: {
            color: $brand-primary;
            width: 2px;
            style: solid;
          }
        }

        .sub-menu {
          @extend .list-unstyled;

          display: block;
        }
      }
    }
  }

  &.float {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;

    a.brand {
      display: inline-block;
      float: left;
    }

    nav.nav-primary {
      display: inline-block;

      .nav {
        width: 30%;

        li {
          @extend .d-block;
        }

        a {
          @extend .nav-link;

          color: $black;
        }
      }
    }

    &.on {
      padding: 1rem 2rem;
      width: 100%;
      background: {
        color: $white;
      }

      a.brand {
        float: none;

        .site-logo {
          @extend .ease-effect;

          max-width: 5rem;
        }
      }

      nav.nav-primary {
        .nav {
          width: 100%;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  header.banner {
    z-index: 999;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: {
      color: $white;
    }

    .brand {
      .site-logo {
        max-width: 3.5rem;
      }
    }

    .social-icons {
      display: none;
    }
  }
}
