section.featured {
  background: {
    color: $light-gray;
  }
  padding: {
    bottom: 3rem;
  }

  article {
    @extend .ease-effect;

    position: relative;
    height: 60rem;
    background: {
      repeat: no-repeat;
      size: cover;
      position: center center;
    }

    .featured-overlay {
      @extend .ease-effect;

      z-index: 80;
      opacity: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: {
        color: transparentize($black, 0.4);
      }
    }

    header {
      @extend .ease-effect;

      z-index: 81;
      opacity: 1;
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 0;
      height: 85px;
      transform: translateY(-20px);

      h2 {
        @extend .ease-effect;

        color: $gray-300;
        margin: 0;
        font: {
          family: $secondary-font;
          size: 4rem;
          weight: bold;
        }

        &:hover {
          text: {
            decoration: none;
          }
        }
      }
    }

    &:hover {
      .featured-overlay {
        opacity: 0;
      }

      header {
        h2 {
          color: $white;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  section.featured {
    padding: {
      bottom: 1.5rem;
    }

    article {
      height: 15rem;
      margin: {
        bottom: 1rem;
      }

      header {
        h2 {
          font: {
            size: 2rem;
          }
        }
      }
    }
  }
}
