section.newsletter {
  padding: $section-padding;
  background: {
    color: $light-gray;
  }
  text: {
    align: center;
  }

  form {
    padding: 2rem 0;
  }

  :focus {
    outline: none;
  }

  input[type="text"] {
    @extend .ease-effect;

    font: 15px/24px "Lato", Arial, sans-serif;
    color: $dark-gray;
    width: 33%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    background: {
      color: $light-gray;
    }

    &:focus {
      color: $black;
      border: {
        bottom: {
          color: $black;
        }
      }
    }
  }

  button {
    @extend .ease-effect;

    cursor: pointer;
    color: $white;
    display: block;
    padding: 1.4rem 9rem;
    margin: 0.5rem auto;
    background: {
      color: $brand-primary;
    }
    font: {
      weight: bold;
    }

    &:hover {
      background: {
        color: lighten($brand-primary, 10%);
      }
    }

    &:active {
      transform: translateY(1.5px);
    }
  }
}

@include media-breakpoint-down(md) {
  section.newsletter {
    input[type="text"] {
      width: 85%;
    }

    button {
      width: 85%;
      padding: 1.4rem 6rem;
      margin: 0.5rem auto 0;
    }
  }
}
