.social-icons {
  margin: 0;

  .icon {
    @extend .ease-effect;
    $size: 35px;

    cursor: pointer;
    width: $size;
    height: $size;
    border: {
      radius: $size/2;
    }
    background: {
      color: $black;
    }
    border: {
      color: $gray-300;
      width: 1px;
      style: solid;
    }

    i,
    a {
      @extend .ease-effect;

      color: $gray-300;
      line-height: $size;
    }

    &:hover {
      background: {
        color: $gray-300;
      }
      border: {
        color: $black;
      }

      i,
      a {
        color: $black;
      }
    }

    &.alternative {
      margin: 0.95rem 0.2rem;
      background: {
        color: $white;
      }
      border: {
        color: $white;
      }

      i,
      a {
        color: $brand-primary;
      }

      &:hover {
        transform: translateY(-5px);
        background: {
          color: $brand-primary;
        }
        border: {
          color: $brand-primary;
        }

        i,
        a {
          color: $gray-300;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .social-icons {
    .icon {
      border: {
        width: 0;
      }

      i {
        font: {
          size: 1.5rem;
        }
      }
    }
  }
}
