body {
  .wrap {
    min-height: 100vh;
    margin: {
      top: 4rem;
    }

    strong {
      font: {
        weight: bold;
      }
    }

    h4 {
      margin: {
        bottom: 1.4rem;
      }
    }
  }

  &.woocommerce {
    .wrap {
      margin: {
        top: 10rem;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  body {
    &.woocommerce {
      .wrap {
        margin: {
          top: 5rem;
        }
      }
    }
  }
}
