body.template-coming-soon {
  height: 100vh;
  background: {
    image: url("http://assets.kimheyman.com/app/uploads/2018/01/26073800/IMG_7984.jpg");
    repeat: no-repeat;
    size: cover;
    position: left center;
  }

  .coming-soon-overlay {
    z-index: 98;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: {
      color: transparentize($white, 0.3);
    }
  }

  .splash {
    z-index: 100;
    position: fixed;
    top: 35%;
    left: 25%;
    right: auto;
    bottom: auto;

    h3 {
      color: $brand-primary;
      font: {
        family: $heading-font;
        weight: bold;
        size: 2.5rem;
      }
    }

    .site-logo {
      max-width: 100%;

      img {
        max-width: 13rem;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  body.template-coming-soon {
    background: {
      position: 37% center;
    }

    .splash {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .site-logo {
        margin: 2rem auto 0;
        max-width: 5rem;
      }

      .info {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 7.5rem;
        left: 0;

        h3 {
          font: {
            size: 2rem;
          }
        }
      }
    }
  }
}
