body.woocommerce {
  .woocommerce-result-count,
  .woocommerce-ordering,
  .ajax_add_to_cart,
  .posted_in,
  .tagged_as {
    display: none;
  }

  &.archive {
    .page-title {
      display: none;
    }

    .woocommerce-loop-product__title {
      text: {
        align: center;
      }
    }

    .product {
      .attachment-woocommerce_thumbnail,
      .woocommerce-loop-product__title {
        @extend .ease-effect;
      }

      &:hover {
        .attachment-woocommerce_thumbnail {
          transform: translateY(-10px);
        }

        .woocommerce-loop-product__title {
          opacity: 0.5;
        }
      }
    }

    .wpcf7 {
      display: none;
    }
  }

  &.single-product {
    .form,
    .success-message {
      display: none;
    }

    .wpcf7-form {
      &.sent {
        .form {
          display: none !important;
        }

        .success-message {
          display: block;
        }
      }

      .form {
        div[class^="col-"] {
          .wpcf7-not-valid-tip {
            top: 10px;
            right: 30px;
          }
        }
      }

      .success-message {
        display: none;
      }

      .wpcf7-validation-errors,
      .ajax-loader,
      .wpcf7-mail-sent-ok {
        display: none !important;
      }
    }

    .related.products {
      clear: both;
      margin: {
        top: 10px;
      }

      h2 {
        margin: {
          bottom: 1.6rem;
        }
      }

      .product {
        .attachment-woocommerce_thumbnail,
        .woocommerce-loop-product__title {
          @extend .ease-effect;
        }

        &:hover {
          .attachment-woocommerce_thumbnail {
            transform: translateY(-10px);
          }

          .woocommerce-loop-product__title {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  body.woocommerce {
    &.single-product {
      .contact-button {
        .btn {
          display: block;
        }
      }
    }
  }
}
