body.woocommerce {
  .woocommerce-result-count,
  .woocommerce-ordering,
  .ajax_add_to_cart,
  .posted_in {
    display: none;
  }

  &.archive {
    .page-title {
      display: none;
    }

    .woocommerce-loop-product__title {
      text: {
        align: center;
      }
    }

    .product {
      .attachment-woocommerce_thumbnail,
      .woocommerce-loop-product__title {
        @extend .ease-effect;
      }

      &:hover {
        .attachment-woocommerce_thumbnail {
          transform: translateY(-10px);
        }

        .woocommerce-loop-product__title {
          opacity: 0.5;
        }
      }
    }

    .contact-button {
      display: none;
    }
  }

  &.single-product {
    .related.products {
      clear: both;
      margin: {
        top: 10px;
      }

      h2 {
        margin: {
          bottom: 1.6rem;
        }
      }

      .product {
        .attachment-woocommerce_thumbnail,
        .woocommerce-loop-product__title {
          @extend .ease-effect;
        }

        &:hover {
          .attachment-woocommerce_thumbnail {
            transform: translateY(-10px);
          }

          .woocommerce-loop-product__title {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
