* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

::selection {
  background: $brand-primary; /* WebKit/Blink Browsers */
  color: $white;
}

::-moz-selection {
  background: $brand-primary; /* Gecko Browsers */
  color: $white;
}

:root {
  font: {
    size: 18px;
  }
}

body {
  -webkit-tap-highlight-color: transparent;
  background: {
    color: $main-background;
  }
  font: {
    family: $paragraph-font;
    size: 0.85rem;
    weight: 200;
  }
  text: {
    rendering: optimizeLegibility;
  }
}

p {
  color: $paragraph-color;
  font: {
    family: $paragraph-font;
    size: 0.85rem;
    weight: 200;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $brand-primary;
  font: {
    weight: bold;
    family: $heading-font;
  }
  text: {
    transform: uppercase;
  }
}

h1 {
  margin: 0;
  font: {
    size: 2.3rem;
  }
}

h2 {
  margin: 20px 0 10px;
  font: {
    size: 2.1rem;
  }
}

h3 {
  margin: 40px 0 10px;
  font: {
    size: 1.9rem;
  }
}

h4 {
  margin: 40px 0 10px;
  font: {
    size: 1.7rem;
  }
}

img {
  max-width: 100%;
}

a {
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 10%);
  }
}

.btn {
  font: {
    family: $system-font;
  }
}

.btn-primary {
  color: $main-background;
  border: {
    color: $brand-primary;
  }
  background: {
    color: $brand-primary;
  }

  &:hover {
    color: $white;
    border: {
      color: $brand-primary;
    }
    background: {
      color: darken($brand-primary, 10%);
    }
  }
}

.btn-outline-primary {
  color: $brand-primary;
  border: {
    color: $brand-primary;
  }

  &:hover {
    color: $main-background;
    background: {
      color: $brand-primary;
    }
    border: {
      color: $brand-primary;
    }
  }
}

form {
  div[class^="col-"] {
    position: relative;

    .wpcf7-form-control-wrap {
      position: static;
    }

    .wpcf7-not-valid-tip {
      font-size: 13px;
      color: $code-red;
      font-weight: 600;
      padding-left: 2px;
      text-align: left;
      position: absolute;
      top: 13px;
      right: 30px;
      text-transform: lowercase;
    }

    .wpcf7-validation-errors {
      border-color: $code-red;
    }
  }

  .wpcf7-validation-errors,
  .ajax-loader,
  .wpcf7-mail-sent-ok {
    display: none !important;
  }

  img {
    width: auto;
  }
}

#cookie-notice {
  .button {
    @extend .btn, .btn-primary, .btn-sm;
  }

  #cn-refuse-cookie {
    @extend .btn, .btn-outline-primary, .btn-sm;
  }
}
